# .gitconfig is not stowed or destowed automatically
[user]
    name = Praveen Perumal
    email = ppraveen98841@gmail.com
[core]
    editor = nvim
[init]
    defaultBranch = main
[alias]
    g = grep --break --heading --line-number
    l = log --graph
