# .gitconfig is not stowed or destowed automatically
[user]
    name = Praveen Perumal
    email = ppraveen98841@gmail.com
[core]
    editor = nvim
[init]
    defaultBranch = main
[alias]
    a = add
    aa = add -A
    c = commit
    cm = commit -m
    d = diff
    dc = diff --cached
    g = grep --break --heading --line-number
    l = log --graph
    s = status -s
