.script/*
.backup/*
fish/conf.d/*
fish/functions/__z*
nvim/plugin/*

.DS_Store
fish/fish_variables
fish/custom_config.fish
nvim/lua/plugins/lsp/server.lua

!.script/init.py
!.script/deinit.py
!.script/init_bash
